<!DOCTYPE html><html xmlns:th="http://www.thymeleaf.org">    
    <head th:replace="../static/index.html"></head>    
    <body>        
 
        <h1 th:text="${titulo}"></h1>              
                    
            <thead class="thead-dark">                
                <tr>                    
                    <th scope="col">Id</th>                    
                    <th scope="col">Pais </th>                    
                    <th scope="col">Codigo Tel</th>                    
                    <th scope="col">Cod Pais</th>                    
                    <th scope="col">Capital </th>                                    
                    <th scope="col">Editar </th>                    
                    <th scope="col">Eliminar </th>                
                </tr>            
            </thead>      
            
            <tbody>            
            <th:block th:each="user : ${estado}">                
                <tr>                    
                    <td th:text="${user.getCountry_id}"></td>                    
                    <td th:text="${user.getCountry_name}"></td>                    
                    <td th:text="${user.getPhone_code}"></td>                    
                    <td th:text="${user.getCountry_code}"></td>                    
                    <td th:text="${user.getCapital}"></td>                                     
                    <td>                        
                        <a th:href="@{/editEstado/{country_id}(country_id=${user.getCountry_id})}">Edit</a>                    
                    </td>                    
                    <td>                        
                        <a th:href="@{/delete/{country_id}(country_id=${user.getCountry_id})}">Delete</a>                    
                    </td>                
                </tr>            
            </th:block>        
        </tbody>    
       
</body>

</html>